{% extends 'index.html' %}
{% load static %}

{% block content %}
  <h1>{{ greeting }}</h1>

  <div class="card" style="width: 60rem;">
    <img src="{% static 'img/1920x.webp' %}" class="card-img" alt="..." />
    <div class="card-body">
      <p class="card-text">Зарождение цивилизации на территории Франции

        По предположениям основной массы ученых-историков зарождение человеческой цивилизации на территории Франции произошло в период 1 ООО 000-700 ООО лет до н. э. территорию Франции, как и остальную Европу, заселили homo erectus. Мы можем приблизительно представить себе переход от homo erectus («человека прямоходящего») к нашим непосредственным предкам, но специфика этого перехода на территории Франции, остается неизвестной. Даже при разговоре о homo sapiens нам придется полагаться на редкие открытия, подобные пещерам Ласко.

        Под влиянием эволюционных процессов и времени представители homo erectus на территории Франции постепенно переходят в своем развитии к гоминидам – переходной форме между homo erectus и неандертальцами.

        Аллея менгиров в Бретани (Франция)В течение времени с 400 000 до 100 000 лет до нашей эры территорию Франции населяли представители именно этого вида. В своей жизнедеятельности они уже использовали примитивные орудия труда. О проживании на территории Франции в этот период именно гоминидов свидетельствуют находки, найденные при раскопках неподалеку от Тотавеля на юге Франции. Среди останков, обнаруженных при раскопках в пещере Араго, были найдены части человеческого черепа.

        К 100 000 лет до н.э. . в течение последнего межледникового периода - плейстоцена - территорию Франции начали заселять неандертальцы. Они жили в пещерах и были охотниками, пользовались огнем, изготовляли каменные и деревянные орудия и хоронили умерших. Важные свидетельства об их образе жизни были найдены в пещере Ле-Мустье в Дордони, заселенной около 50 ООО лет назад.

        Около 35 000-30 ООО до н. э. на территории Франции неандертальцев стали вытеснять кроманьонцы, названные так по месту проведенных в 1868 г. раскопок в пещере Кро-Маньон в Дордони. Ранние представители homo sapiens, кроманьонцы, обладали более сложными орудиями труда и культурой, в которой угадываются художественные и религиозные аспекты, что и позволяло им превосходить по своим возможностям неандертальцев, вследствие чего расширять ареал обитания.

        Около 20 ООО до н. э. община из Солютре-Пуйи (недалеко от современного Макона на территории Франции) в эпоху верхнего палеолита создала технику обработки камня, с помощью которой изготовлялись тонкие кремневые наконечники в форме лавровых и ивовых листьев. Другие орудия, такие как костяные иглы, указывают на то, что жившие здесь люди шили одежду из звериных шкур для защиты от холода. По стоянке Солютре получила название солютрейская культура.</p>
    </div>
  </div>
{% endblock %}
