{% extends 'index.html' %}

{% load static %}

{% block content %}

<h1>{{ greeting }}</h1>

<div class="card" style="width: 60rem;">
  <img src="{%static "img/marseille.jpg" %}" class="card-img" alt="...">
  <div class="card-body">
    <p class="card-text">Город Марсель (Marseille)
Марсель – крупный портовый город, второй по численности населения во Франции. Он расположился на юге страны, на берегу Средиземного моря. Марсель – столица региона Прованс-Альпы-Лазурный берег и по размерам – 240,62 км² – уступает лишь Парижу. Да и возраст у населенного пункта почтенный: он основан более 25 веков назад. Узкие улочки, яхты в Старом порту, старинные крепости, лазурные бухты – таким предстает перед гостями гордый Марсель.

Город делится на 15 районов, которые расходятся по спирали от центра – Старого порта. Главная ось – просторный бульвар Ла-Канебьер. Но если говорить об историческом центре, следует вспомнить Ле-Панье. Это территория чуть севернее «сердца» города, откуда началась история Марселя. Здесь появилось постоянное греческое поселение Массалия. © «wikiway.com»</p>
  </div>
</div>
   
{% endblock %}