{% extends 'index.html' %}

{% load static %}

{% block content %}

<h1>{{ greeting }}</h1>

    <div class="card" style="width: 60rem;">
      <img src="{%static "img/parizh.webp" %}" class="card-img" alt="...">
      <div class="card-body">
        <p class="card-text">Город Париж (Paris)
          Париж — столица Франции, самый красивый и элегантный город мира, символ любви и романтики, моды и изысканности. Нет такого человека, который не мечтал бы посетить Париж, увидеть ставшие хрестоматийными достопримечательности, окунуться в атмосферу раскованности, отдать должное французской кухне, побродить по красивым бульварам. В Париже есть всё, о чём мечтают путешественники, – многочисленные музеи с богатейшими коллекциями, отличный шоппинг, развлечения на любой вкус.</p>
      </div>
    </div>
   
{% endblock %}

